.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #333;
  color: white;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.socialIconContainer {
  margin: 0 10px;
}

.socialIcon {
  font-size: 24px;
  margin-right: 0.3rem;
  color: white;
  transition: color 0.3s ease-in-out;
}

.socialIcon:hover {
  color: #007bff;
}

.socialIconContainer {
  margin-left: 10px;
}

.copyRightText {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: 370px) {
  .socialIconContainer a:last-child {
    display: none;
  }
  .madeWithText {
    display: none;
  }
}
